.main-categories {
    width: 98vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1524098837898-6b1c101a85f6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    position: relative;
}

.main-categories h1{
    position: absolute;
    color: white;
    rotate: 270deg;
    top: 42%;
    font-size: 3.6vw;
    font-family:monument;
    left: -10%;
}
.roww {
    width: 70vw;

    left:15%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 5%;
}

.cat {
    height: 14vh;
    width: 50vw;
    background-color: lightgreen;
    display: flex;
}

.btn-categories {
    width: 20vw;
    text-align: center;
    margin-left: 3vw;
    height: 8vh;
    
    margin-bottom:3.5vw;
    box-shadow: 5px 5px 2px 5px white;
    font-size: 23px;
    padding-top: 5px;
    font-weight: bold;
    border-radius: 8px;
    background-color:#68091F;


}

.btn-cat {
    text-decoration: none;
    color: white;

}